* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;
  color: black;
  background-color: linen;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  font-size: 1.6rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 24rem;
  gap: 4rem;
}

form {
  display: grid;
  gap: 1.6rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: inherit;
  color: white;
  background-color: black;
}
button:hover {
  border-color: cornflowerblue;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  background-color: darkslategray;
  cursor: not-allowed;
}
